@keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  65% {
    transform: translateY(-3px);
  }
  85% {
    transform: translateY(-1px);
  }
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Bungee;
  color: #FFF;
  background-color: #4056A1;
  height: 120px;
  padding: 0px 1.5em;
  z-index: 1000;

  .logo {
    font-size: 35px;
  }

  .bounce-arrow {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    padding-top: 7px;
    animation: bounce 3s ease infinite;
    transition: 0.5s;
    &:hover {
      color: #ff6666;
    }
  }
}

.navbarRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro";
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.25s, visibility 0.25s;
}

.navbarRight.no-show {
  opacity: 0;
  visibility: hidden;
}

.sticky-top {
  top: 0;
  width: 100%;
  position: sticky;
}