
#navbar {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  font-family: Bungee;
  padding: 0px 1.5em;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  overflow: hidden;  
}

.logo {
  font-size: 35px;
  transition: 0.5s;
}

.logo:hover {
  font-size: 35.5px;
}


.navbarRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro";
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.25s, visibility 0.25s;
}

.navbarRight.no-show {
  opacity: 0;
  visibility: hidden;
}


.sticky-top {
  top: 0;
  width: 100%;
  position: sticky;
}


.bounce-arrow {
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
  cursor: pointer;
  animation: bounce 3s ease infinite;
  transition: 0.5s;
}

@keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  65% {
    transform: translateY(-3px);
  }
  85% {
    transform: translateY(-1px);
  }
}

.bounce-arrow:hover {
  color: #ff6666;
}