$shadow-color: #D3D3D3;
$primary-color: #4056A1;

@mixin error() {
  display: none;
  justify-content: center;
  border: solid;
  border-radius: 5px;
  color: #CD5C5C;
  border-color: #F08080;
  font-size: 20px;
  padding: 10px;
  margin: 0 10%;
  text-align: center;
}

.new-tweet {
  display: none;
  width: 100%;
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin-bottom: 20px;

  #error {
    .limit-error {
      @include error();
    }
    .empty-error {
      @include error();
    }
  }

  label {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 2.8vw;
  }

  #tweet-text {
    display: flex;
    background-color: transparent;
    border: none;
    border-bottom : 4px solid #545149;
    outline: none;
    width: 100%;
    height: 20%;
    font-size: 2.6vw;
    justify-content: flex-start;
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
  }

  .new-tweet-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 5px;
    font-size: 20px;
  }

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    font-size: 19px;
    padding: 6px 10px;
    border-radius: 10px;
    transition: .4s ease-in-out;
    &:hover {
      box-shadow: 8px 5px $shadow-color;
      background-color: #191970;
    }
  }

  .counter {
    text-shadow: 4px 2px $shadow-color;
    font-size: 0.8em;
  }
}