@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body #desktop-body {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  body #desktop-body .blank-span {
    display: flex;
    justify-content: center;
    padding: 65px;
    width: 40%;
  }
  body #desktop-body .blank-span .profile-picture img {
    height: 30vh;
  }
  body #desktop-body .blank-span .profile {
    position: fixed;
    width: 30%;
    height: 50%;
    box-shadow: 10px 10px #D3D3D3;
    border-radius: 10px;
    transition: 0.5s;
  }
  body #desktop-body .blank-span .profile:hover {
    box-shadow: 12px 12px #A9A9A9;
  }
  body #desktop-body .blank-span .profile .user {
    font-size: 4.5vh;
  }
  body #desktop-body .container {
    width: 60%;
    padding: 30px 50px 30px 40px;
  }
  body #desktop-body .container #error .limit-error {
    font-size: 1em;
    margin: 0px 2%;
  }
  body #desktop-body .container #error .empty-error {
    font-size: 1em;
    margin: 0px 4%;
  }
  body #desktop-body .container h2 {
    font-size: 2em;
    margin: 20 10px 10px 10px;
  }
  body #desktop-body .container label {
    font-size: 1.2em;
  }
  body #desktop-body .container #tweet-text {
    font-size: 1em;
    padding: 10px 0.4em;
  }
  body #desktop-body .container .user-article {
    margin-top: 30px;
  }
  body #desktop-body .container .user-article .user .name {
    font-size: 1.1em;
  }
  body #desktop-body .container .user-article .user .handle {
    font-size: 0.9em;
  }
  body #desktop-body .container .user-article .content {
    font-size: 1.2em;
    height: 10%;
    padding-bottom: 20px;
  }
  body #desktop-body .container .user-article .footer {
    font-size: 0.6em;
  }
}
