

@media only screen and (min-width: 1024px) { 
  body {
    display:flex;
    flex-direction: column;
  }

  #desktop-body {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .container {
    width: 60%;
    padding: 30px 50px 30px 40px;
  }

  .user-article {
    margin-top: 30px;
  }

  h2 {
    margin: 20 10px 10px 10px;
  }

  .blank-span {
    display: flex;
    justify-content: center;
    padding: 65px;
    width: 40%;
  }

  .profile {
    position: fixed;
    width: 30%;
    height: 50%;
    box-shadow: 10px 10px #D3D3D3;
    border-radius: 10px;
    transition: 0.5s;
  }

  .content {
    font-size: 2.3vw;
    height: 10%;
    padding-bottom: 20px;
  }

  .limit-error {
    font-size: 1.8vw;
    margin: 0px 2%;
  }

  .empty-error {
    font-size: 2vw;
    margin: 0px 4%;
  }

  .profile:hover {
    box-shadow: 12px 12px #A9A9A9;
  };

  img {
    max-width: 10%;  
height: 10%;  
  }

  .profile .user {
    font-size: 4.5vh;
  }

  #tweet-text {
    font-size: 2.3vw;
  }

};





