
#navbar {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  font-family: Bungee;
  padding: 0px 1.5em;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  overflow: hidden;  
}

.logo {
  font-size: 35px;
}


.navbarRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro";
}

.sticky {
  top: 0;
  width: 100%;
  position: sticky;
}


.bounce-arrow {
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
  animation: bounce 3.5s ease infinite;
}

@keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-5px);
  }
  65% {
    transform: translateY(-3px);
  }
  85% {
    transform: translateY(-1px);
  }
}

.bounce-arrow:hover {
  color: #ff6666;
}