@media only screen and (max-width: 550px) {
  #navbar {
    background-color: #e8e4cf;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    color: black;
    font-size: 3.5vw;
  }

  .profile img {
    height: 40vw;
  }
  .profile .user {
    font-size: 6vw;
  }

  #error .limit-error {
    font-size: 3.5vw;
    text-align: center;
  }
  #error .empty-error {
    font-size: 3.5vw;
    text-align: center;
  }

  h2 {
    font-size: 6vw;
  }

  #tweet-form label {
    font-size: 3.5vw;
  }
  #tweet-form #tweet-text {
    font-size: 3.5vw;
  }
  #tweet-form .new-tweet-footer {
    font-size: 2vw;
  }

  .user-article .name {
    font-size: 3.5vw;
  }
  .user-article .content {
    font-size: 3.5vw;
  }
  .user-article .footer {
    font-size: 2vw;
  }
}
